<div id="map"></div>
<div id="call-types">
  <p class="count"></p>
  <div class="list"></div>
</div>
<div id="calendar"></div>
<div id="info">
  <h1>SPD Daily Calls Map</h1>
  <p><a href="http://frankrowe.org/posts/2015/12/07/spdcallsmap.html">About</a></p>
</div>
